h1 {
  font-family: Sans-Serif;
  text-align: center;
}
h5 {
  text-align: center;
}
h3 {
  font-family: Sans-Serif;
}
body {
     width: 7.5in;
     padding: 0.5in;
}
 table.example {
 width: 90%;
}


